@inject NavigationManager Navigation
@inject Models.AppUserService AppUserService

<link rel="stylesheet" media="(min-width:0px)" href="style/styleMobile.css" />
<link rel="stylesheet" media="(min-width:1000px)" href="style/style.css" />

<div class="ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="img/UEVApp.png" alt="BhakWien10Schullogo" id="NavBild" />
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Anmeldeseite
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EinkaufBestellungen">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Einkauf Bestellungen
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="Aufgaben">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Aufgaben
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="UserVerwaltung">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>User Verwaltung
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="UserInfo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>User Info
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Verkauf">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Verkauf
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Rechnungswesen Einkauf (nächstes)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Rechnungswesen Verkauf
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Rechnungswesen Personal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Personal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Office Bestellung
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Office Rechnung
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Lieferant
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Einkauf Rechnung
            </NavLink>
        </div>
    </nav>

    <div class="nav-item px-3">
        <div class="linksunten">
            <div class="divNavUserInfo">
                @AppUserService.Username
            </div>
            <div class="divNavUserInfo">
                @AppUserService.Rolle
            </div>
            <button @onclick="LogOut">Logout</button>
        </div>
    </div>    
</div>

@code {
    private string UserName = "-";
    private string Abteilung = "-";

    protected override void OnInitialized()
    {
        AppUserService.OnChange += StateHasChanged;
    }

    private async void LogOut()
    {
        await SecureStorage.SetAsync("authToken", "1");

        var token = await SecureStorage.GetAsync("authToken");
        if (token == "1")
        {
            Navigation.NavigateTo("/");
            AppUserService.Username = "-";
            AppUserService.Rolle = "-";
        }
    }

    public void Dispose()
    {
        AppUserService.OnChange -= StateHasChanged;
    }
}
