@page "/admin_ul"

<link href="style/style.css" rel="stylesheet" />

<body>
	<header>
		<table>
			<thead>
			</thead>
			<tfoot>
			</tfoot>
			<tbody>
				<tr>
					<td><h1>Userliste</h1></td>
					<td rowspan="2"><p> Username: XXX   ÜFA-Name: XXX </p><img src="img/Logo_BHAK10.jpg" alt="Schullogo" class="Bild" /></td>
				</tr>
				<tr>
					<td><p>Das ist die Ansicht des Admin-User.</p></td>
				</tr>
			</tbody>
		</table>
	</header>
	<nav>

	</nav>
	<section>
		<article>

		</article>
	</section>
</body>