@page "/basic"

<link href="style/style.css" rel="stylesheet" />

<body>
	<header>
		<table>
			<thead>
				<tr>
					<th><h1>Schüleransicht</h1></th>
					<th><p>@Username || @UEFA || @Abteilung || @Mitglieder</p></th>
				</tr>
			</thead>
			<tfoot>
			</tfoot>
			<tbody>
				<tr>
					<td><p>Das ist die Ansicht des Schüler-User.</p></td>
					<td rowspan="2"><img src="img/Logo_BHAK10.jpg" alt="Schullogo" class="Bild" /></td>
				</tr>
				<tr>
					<td><p>Herzlich Willkommen bei der Anmeldeseite für die Übungsfirmen!</p></td>
				</tr>
			</tbody>
		</table>

	</header>
	<nav>
		<a href="/">Anmelden</a> <br />
		<a href="/admin">Admin</a>
	</nav>
	<section>
		<article>
			<table>
				<thead>
				</thead>
				<tfoot>
				</tfoot>
				<tbody>
					<tr>
						<td>Username:</td>
						<td>
							<input type="text" class="form-control" id="u">
						</td>
					</tr>
					<tr>
						<td>Übungsfirma:</td>
						<td>
							<select name="UEFA" id="u">
								<option value="Udesigndea" selected="selected">Udesigndea</option>
								<option value="UEFA A">UEFA A</option>
								<option value="UEFA B">UEFA B</option>
								<option value="UEFA C">UEFA C</option>
								<option value="UEFA D">UEFA D</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Abteilung:</td>
						<td>
							<select name="Abteilung" id="a">
								<option value="EK" selected="selected">Einkauf</option>
								<option value="IT A">IT</option>
								<option value="MA">Marketing</option>
								<option value="OF">Office</option>
								<option value="PM">Personalmanagement</option>
								<option value="RW">Rechnungswesen</option>
								<option value="VK">Verkauf</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<button id="Anmelden" @onclick="AusgabeU">Anmelden</button>
						</td>
						<td>
							<p>@AusgabeUser</p>
						</td>
					</tr>
				</tbody>
			</table>
		</article>
	</section>
</body> 


@code {
	private string Username = "TestUser";
	private string UEFA = "Udesigndea";
	private string Abteilung = "Einkauf";
	private string Mitglieder = "Jonny Jonsen";
	private string AusgabeUser = "";


	private void AusgabeU()
	{
		AusgabeUser = "Der Schüler-User " + Username + " von der ÜFA " + UEFA + " hat sich erfolgreich angemeldet. Der User ist in der Abteilung " + Abteilung + " mit dem Mitglied/den Mitgliedern " + Mitglieder +".";
	}

}