<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<userSettings>
		<Diplomarbeit_HHS.Properties.launchSettings>
			<setting name="Token" serializeAs="String">
				<value />
			</setting>
			<setting name="Username" serializeAs="String">
				<value />
			</setting>
		</Diplomarbeit_HHS.Properties.launchSettings>	
	</userSettings>
	<appSettings>
		<add key="LoginDIPUrl" value="https://localhost:7286/api/Login/login"/>
		<add key="BestellungDIPUrl" value="https://localhost:7286/api/Einkauf/Bestellung"/>
	</appSettings>
</configuration>